@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

body {
    -webkit-touch-callout: none !important;
    color: #5f5859;
    font-family: GowunBatang;
    touch-action: pan-y;
    -webkit-user-select: none !important;
    user-select: none !important
}

.background {
    background-color: #313131;
}

.skin {
    background-color: #ffffff;
    background-image: url(../assets/image/blizzard.png);
    height: 100%;
    margin: 0 auto;
    max-width: 420px;
    width: 100%
}

.wrapper {
    background-color: initial;
    margin: 2.5rem 24px
}

.text-handwriting {
    color: #7C7575;
    font-family: PinyonScript;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 45px;
    text-align: center
}

.t-font-d {
    font-size: 16px;
}

.t-font-c {
    font-size: 15px;
}

.t-font-b {
    font-size: 14px;
}

.t-font-a {
    font-size: 12px;
}

.t-color-main {
    color: #7C7575;
}

.t-color-sub {
    color: #DFD3D3b3;
}

.t-bg-main {
    background-color: #DFD3D3b3;
}

.t-tcolor-main {
    color: #5f5859;
}

.t-tcolor-sub {
    color: #8b8285;
}

.slash {
    border-bottom: 0 solid red;
    border-right: 2px solid #000;
    height: 50px;
    width: 30px
}

.leftUp {
    margin-bottom: -25px;
    margin-left: -10px
}

.rightDown {
    margin-right: -3px;
    margin-top: -25px
}

.parentContactButton {
    border: 1px solid #DFD3D3b3;
    color: #7C7575;
    font-weight: 1000;
    letter-spacing: .2em;
    width: 50%
}

.custom-calendar .q-date {
    background-color: initial;
    box-shadow: none;
    width: 100%
}

.custom-calendar .q-date__view {
    padding: 0
}

.custom-calendar .q-date__calendar-item {
    padding: 8px 0
}

.custom-calendar .q-date__today {
    box-shadow: none
}

.custom-calendar .bg-primary {
    background-color: #DFD3D3b3 !important
}

.dots {
    display: flex;
    justify-content: center;
    padding: 10px 0
}

.dot {
    background: #c5c5c5;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    height: 10px;
    margin: 0 5px;
    padding: 5px;
    transition: background-color .7s;
    width: 10px
}

.dot:focus {
    outline: none
}

.dot.active {
    background: #000
}

.seperator {
    margin: 20px 0
}

.copy-button {
    background-color: #eb9778;
    border-radius: 4px 4px 4px 4px;
    color: #fff;
    height: 25px
}

.kakao-pay-button {
    background-color: #fae100;
    border-radius: 4px 4px 4px 4px;
    padding-bottom: 2px;
    padding-top: 2px
}

.linkButton {
    border: 1px solid #DFD3D3b3;
    height: 48px;
    padding-bottom: 8px;
    padding-top: 8px;
    width: 100%
}

.paperButton {
    background-color: #DFD3D3b3;
    width: 100%
}

.guestBook {
    background-color: #DFD3D34d;
}

.share-button {
    background-color: #807d7b
}

.expand-icon {
    color: #DFD3D3b3;
}

.disappear {
    display: none
}

.homeLink {
    color: rgba(26, 26, 26, .671);
    font-size: .8rem;
    font-weight: 700;
    text-decoration: none
}

.viewer-canvas {
    background-color: #1d1d1db2
}

.no-event img {
    -webkit-touch-callout: none !important;
    pointer-events: none
}

:root {
    --mainTextColor: #5f5859;
    --subTextColor: #8b8285;
    --fontSizeD: 16px
}

.video-container {
    height: 0;
    padding-bottom: 56.25%;
    position: relative
}

.video-container iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%
}

.video-container2 {
    position: relative;
    width: 100% !important
}

.video-container2 div {
    height: 20px !important;
    padding-bottom: 56.25% !important;
    position: relative !important;
    width: 100% !important
}

.video-container2 div iframe {
    height: 100% !important;
    left: 0 !important;
    position: absolute !important;
    top: 0 !important;
    width: 100% !important
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%)
}

.v-enter-active, .v-leave-active {
    transition: opacity .5s ease
}

.v-enter-from, .v-leave-to {
    opacity: 0
}

.q-dialog__backdrop {
    -webkit-backdrop-filter: blur(3px) !important;
    backdrop-filter: blur(3px) !important;
    background-color: #1d1d1db2
}

.location-box {
    border: 1px solid #DFD3D3b3;
    left: 50%;
    max-width: 600px;
    padding: 5px;
    position: absolute;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    width: 100%
}

.location-box:after, .location-box:before {
    border: 1px solid #DFD3D3b3;
    color: #DFD3D3b3;
    content: "•";
    font-size: 14px;
    height: 14px;
    line-height: 12px;
    position: absolute;
    text-align: center;
    top: 5px;
    width: 14px
}

.location-box:before {
    left: 5px
}

.location-box:after {
    right: 5px
}

.location-box .location-box-inner {
    border: 1px solid #DFD3D3b3;
    padding: 15px;
    position: relative
}

.location-box .location-box-inner:after, .location-box .location-box-inner:before {
    border: 1px solid #DFD3D3b3;
    bottom: -1px;
    color: #DFD3D3b3;
    content: "•";
    font-size: 14px;
    height: 14px;
    line-height: 13px;
    padding-left: 2px;
    position: absolute;
    text-align: center;
    width: 14px
}

.location-box .location-box-inner:before {
    left: -1px
}

.location-box .location-box-inner:after {
    right: -1px
}