/* slick.css */
.dots_custom {
    display: inline-block;
    vertical-align: middle;
    margin: auto 0;
    padding: 0;
}

.dots_custom li {
    list-style: none;
    cursor: pointer;
    display: inline-block;
    margin: 0 6px;
    padding: 0;
}

.dots_custom li button {
    margin-top: 5px;
    border: none;
    background: #e7e7e7;
    color: transparent;
    cursor: pointer;
    display: block;
    height: 15px;
    width: 15px;
    border-radius: 100%;
    padding: 0;
}

.dots_custom li.slick-active button {
    background-color: #08c1ce;
}